/*
 *Name: Anthony Bulthuis
 *Date: 7/23/2019
 *Description: The css docuement Birthday
 */
.one {
        
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    }
.two {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}